@model HomePageViewModel

@section header
{
    @await Html.PartialAsync("_header")

}


        <h1>Filmler</h1>

        <div id="Filmler">
    @foreach (var movie in Model.PopularMovies)
    {
        @await Html.PartialAsync("_movie",movie)

    }
         
            </div>